<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCepaGOzHLsTG_pFSgLdZN0ELQET-9lwnk</string>
	<key>GCM_SENDER_ID</key>
	<string>1083157257798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bufgix.rnsecurewindow.example</string>
	<key>PROJECT_ID</key>
	<string>notification-1e49c</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-1e49c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083157257798:ios:8691377831ecdbab0a3447</string>
	<key>DATABASE_URL</key>
	<string>https://notification-1e49c.firebaseio.com</string>
</dict>
</plist>